.ui.borderless.topmenu.menu{
  margin: 0px;
  border: none;
  box-shadow: none;
  padding-top: 20px;
}

.ui.large.search.input{
  width: 700px;
  margin: 100px;
  font-size: medium;
}

.ui.signin.button{
margin-left: 25px;
  margin-right: 50px;
}

.ui.vertical.borderless.sidemenu.menu{
  border: none;
  box-shadow: none;
  width: 70px;
  text-align: center;
  padding-top: 20px;
}

.ui.four.column.divided.grid{
width: 2000px;
}

.ui.two.column.divided.grid{
  width: fit-content;
}

.mainpicture.column{
width: 1000px;
}

.picture.row{
  margin-left: 70px;
  margin-top: 0px;

}

img{
  margin-left: 50px;
  margin-bottom: 0px;
  margin-top: 50px;

}

.IconAndText{
  margin-left: 50px;
}
p{
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.huge.user.icon{
  margin-right: 20px;
}